:root {
  --animation-delay: 30ms;
}

span {
  opacity: 0;
  animation-name: typewriter;
  animation-fill-mode: forwards;
  animation-duration: 0s;
  animation-delay: calc(var(--animation-order) * var(--animation-delay));

}
@keyframes typewriter {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}